/* Definicions de classes utils genèriques */
.desktop { display: flex !important; }
.mobile  { display: flex !important; }
@media only screen and (max-device-width: 599px) { .desktop { display: none !important; } }
@media only screen and (min-device-width: 600px) { .mobile  { display: none !important; } }
.flex       { display: flex; }
.flexRow    { flex-direction: row; }
.flexColumn { flex-direction: column; }
.none       { display: none; }
.halfWidth  { max-width: 50%; }
.botoIcona  { cursor: pointer; }

/* Definicions específiques */
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}
#frontendMenuWeb{
    background: #333;
    margin-bottom: 30px;

}
#frontendMenuWeb > div {
  flex-grow: 1;
  text-align: center;
  width: 100px;
  padding: 10px 5px;
}
#frontendMenuWeb div:hover{
  background: #a3cd39;
  text-shadow: 0 0 2px #000;
}
#frontendMenuWeb div{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.botoMenu {
    color: blue;
    cursor: pointer;
    margin: 0 16px;
}

.botoMenu:hover {
    text-decoration: underline;
}




body > #frontendHome {
    display: flex;
}

body > #frontendPresentacio {
    display: none;
}

body > #frontendProductes {
    display: none;
}

body > #frontendProductes > #productesContinguts {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body > #frontendContacte {
    display: none;
}

body > #backofficeUsuaris {
    display: none;
}

body > #backofficeProductes {
    display: none;
}

body > #popups {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#popups > div {
    border: solid 1px black;
    background-color: lightcyan;
    display: none;
}
 h1 {
    text-align: center;
    margin: auto;
    font-weight: bolder;
}

  body{
  background-color: lightgrey;

}
 #titulo{
   display: block;
   max-width: 90%;
   margin: auto;
   text-align: center;
 }
 .pasadorimagen{
   display:block;
   max-width: 90%;
   text-align: center;

 }
.container{
  margin: auto;
  background-color: white;
  width: 800px;
  padding: 30px;
  max-width: 100%

}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 100%
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;

}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;

}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;



}


ul.slider li:first-child {
    opacity: 1;

}

ul.slider li:target {
    opacity: 1;

}

.menu{
  text-align: center;
  margin: 20px


}

.menu li{
  display: inline-block;
  text-align: center;

}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;

}
.alojamiento{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  text-align: center;

}

.hotel{
  margin-left: 30px;
  margin-right: 30px;


}
.aparta{
  margin-right: 30px;
  margin-left: 30px;

}
.resort{
  margin-right: 30px;
  margin-left: 30px;

}
.villas{
  margin-right: 30px;
  margin-left: 30px;

}
.chalets{
  margin-right: 30px;
margin-left: 30px

}
.apartahotel{
  margin-right: 30px;
  margin-left: 30px;

}
.motel{
  margin-right: 30px;
  margin-left: 30px;

}

.redondo{
  border-radius: 10px

}

.presenta{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.presenta > .imagen{
  padding: 0 1em;
}

.presenta > .contepresentacion{
  flex-grow: 1;
}

.presenta > .contepresentacion > h3{
  margin-top: 0
}
 .imagen2{

  margin-left: 30px;
  margin-right: 30px

 }

 .presenta > .img2{
   padding: 0 1em;

 }

 .presenta > .contepresentacion2{
   flex-grow: 1;

 }

 .presenta > .contepresentacion2 > h3{
   margin-top: 0

 }
 .textocontacto{
   margin-left: 20px;
 }
 .textocontacto > h3{
   font-family
 }
.color{
  color: red;

}
.color2{
  color: blue;
}

.producte {
  border: solid 1px black;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
